@CHARSET "UTF-8";
/* Layout */
	a{
		text-decoration: none;
	}
		body {
			min-width: 630px;
		}

		#container {
			padding-left: 200px;
			padding-right: 190px;
			background: #CEF6E3; 
			min-height: 300px;
		}
		
		#container .column {
			position: relative;
			float: left;
		}
		
		#center {
			padding: 10px 20px;
			width: 100%;
		}
		
		#left {
			padding: 0 10px;
			right: 240px;
			margin-left: -100%;
		}
		
		#footer {
			clear: both;
		}
		
		/* IE hack */
		* html #left {
			left: 150px;
		}
		
		/* Make the columns the same height as each other */
		#container {
			overflow: hidden;
		}
		
		#container .column {
			padding-bottom: 1001em;
			margin-bottom: -1000em;
		}
		
		/* Fix for the footer */
		
		* html body {
			overflow: hidden;
		}
		
		* html #footer-wrapper {
			float: left;
			position: relative;
			width: 100%;
			padding-bottom: 10010px;
			margin-bottom: -10000px;
			background: #fff;
		}

		/* Aesthetics */
		body {
			margin: 0;
			padding: 0;
			font-family: 'Godo';
			line-height: 1.5em;
		}
		
		p {
			color: #FFFFFF;
			font-family:'Godo';
		}

		nav ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
		nav ul a {
			color: darkgreen;
			text-decoration: none;
		}

		#header {
			font-size: 20pt;
			padding : 0.7em;
			background: #0B243B;
		}

		#footer {
			font-size: large;
			padding: 0.3em;
			background: #0B243B;
		}

		#left {
			background: #FFF;
		}

		#center {
			background: #CEF6E3;
		}
	
		#container .column {
			padding-top: 1em;
		}
		
		/* menu bar */
		.menubar{
			border:none;
			border:0px;
			margin:0px;
			padding:0px;
			font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
			font-size:14px;
			font-weight:bold;
		}

		.menubar ul{
		background: rgb(109,109,109);
		height:50px;
		list-style:none;
		margin:0;
		padding:0;
		}
		
		.menubar li{
		float:left;
		padding:0px;
		}

		.menubar li a{
		background: rgb(109,109,109);
		color:#cccccc;
		display:block;
		font-weight:normal;
		line-height:50px;
		margin:0px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		
		.menubar li a:hover, .menubar ul li:hover a{
		background: rgb(71,71,71);
		color:#FFFFFF;
		text-decoration:none;
		}
		
		.menubar li ul{
		background: rgb(109,109,109);
		display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:200px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
		
		.menubar li:hover ul{
		display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
		}
		
		.menubar li li {
		background: rgb(109,109,109);
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:200px;
		}
		
		.menubar li:hover li a{
		background:none;
		}
		
		.menubar li ul a{
		display:block;
		height:50px;
		font-size:12px;
		font-style:normal;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		
		.menubar li ul a:hover, .menubar li ul li:hover a{
		background: rgb(71,71,71);
		border:0px;
		color:#ffffff;
		text-decoration:none;
		}
		
		.menubar p{
		clear:left;
		}	
		
		
		
		.category_name{
		font-family: 'Godo';
		font-size: 32px;
		padding-top: 20px;
		padding-bottom: 20px;
		
		
		}
		.item{
		width: 200px;
		height: 200px;
		float: left;
		margin: 10px;
		}
		.item_img{
		height: 150px;
		background-color: lightgray;
		}
		.item_content{
		font-size: 18px;
		text-align: center;
		}
		
		.item_info{
			display: flex;
			width: 100%;
			height: auto;
			padding: 20px;
			margin: 30px;
			background-color: #FFFFFF;
		}
		.item_infoA{
			flex: 1;
			font-family: 'Godo';
			font-size: 20px;
			text-align: left;
			
		}
		.item_info_img{
			width: 200px;
			height: 200px;
		}
		.item_infoB{
			flex: 4;
			height: auto;
			font-size: 18px;
			text-align: left;
			padding-left: 20px;
			padding-top: 20px;
			border: 1px solid black;
		}
		
		.contain_box{
            display: flex;
            width: 100%;
            min-height: 300px;
			padding-right: 190px;
			background: #CEF6E3;
        }
        .sidenav{
            flex: 1;
            background-color: lightgray;
            min-height: 300px;
        }
        .sidecontent{
            flex: 4;
            min-height: 400px;
            padding-left: 100px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .sidenav_menu{
            width: 100%;
            height: 50px;
            padding-left: 20px;
            padding-top: 20px;
            font-size: 18px;
        }
        
        .btn2{
            width: 120px;
		    height: 30px;
		    font-size: 21px;
		    text-align: center;
		    color: white;
		    background-color: orange;
		    padding-top: 15px;
		    margin-left: auto;
		    margin-right: auto;
		    margin-top: 20px;
		    padding-left: 20px;
		    padding-right: 20px;
		    padding-bottom: 10px;
		    font-family: 'Godo';
        }
        .btn2 :hover{
        background-color: lightgray;
        }
        
        .bag{
        width: 80%;
        margin-left : auto;
        margin-right: auto;
        min-height:300px;
        margin: 30px;
        background-color: white;
        font-family: 'Godo';
        padding-bottom: 20px;
        }
        .bag_content{
        width: 97%;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        min-height: 40px;
        font-size: 15px;
        display: flex;
        }
        .bag_item{
        flex: 4;
        height: 100%;
        }
        
        .bag_content_rev{
        flex: 2;
        height: 100%;
        }
        
        .bag_content_del{
        flex: 1;
        font-size: 10px;
        color: lightgray;
        height: 100%;
        }
        
        #search {
        height : 40px;
        width : 100px;
        display: inline;
        }
        
        #search input{
        font-size:13px;
        aligh : center;
        height: 20px;
        width:100px;
        margin-top: 10px;
        padding-left: 5px;
        outline : none;
        }
        
        #search button{
        width:50px;
        height:30px;
        border:0px;
        margin-top: 8px;
        margin-left: 5px;
        background:#0A122A;
        outline : none;
        float:right;
        color:#ffffff
        }
		
		.newcome{
		width: 100%;
		height: 200px;
		display: flex;
		}
		
		.newcomeA{
		flex: 1;
		display: block;
	
		}
		.newcomeA_1{
		width: 100%;
		height: 160px;
		background-color: gold;
		padding: 20px;
		font-size: 24px;
		line-height: 1.5;
		font-family: 'Godo';
		}
		.newcomeA_2{
		width: 100%;
		height: 100px;
		background-color: orange;
		}
		
		.newcomeB{
		flex: 4;
		height: 200px;
		}
		.newcomeB a{
				float: left;
		}
		.newcomeB h3{
		position :relative;
		bottom: 130px;
		left: 30px;
		text-decoration: none;
		color: #CEF6E3;
		
		}
		.newcomeB a :hover{
		filter: brightness(50%);
		}